 .input-field input[type=text] + label {
  color: #64B5F6 !important;
}

.input-field input[type=text] {
  border-bottom: 1px solid #64B5F6 !important;
  box-shadow: 0 1px 0 0 #64B5F6 !important;
}

label { 
  margin-top: -5px !important;
}

#coin-wrapper { 
  margin-bottom: -15px !important;
}

#mobile-link { 
  font-size: smaller !important;
}